{% extends "encyclopedia/layout.html" %}

{% block title %}
    Error0
{% endblock %}

{% block body %}

    <div class="alert alert-danger" role="alert">
        <h3>Error: The website does not exist</h3>
    </div>
        <div class="buttons-con">
            <div class="action-link-wrap">
                <a href="{% url 'index' %}" class="btn btn-custom btn-info waves-effect waves-light m-t-20">
                    Go to Home Page
                </a>
            </div>
        </div>

{% endblock %}
