{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    {% if message %}
        <h1>{{message}}</h1>
    {% else %}
        <h1>All Pages</h1>
    {% endif %}
        <hr>
        <ul>
            {% for entry in entries %}
                <li>
                    <h4>
                    <div >
                        <a href="{{ entry }}">{{ entry }}</a>
                    </div>
                    </h4>
                </li>
            {% endfor %}
        </ul>

{% endblock %}
